*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://github.com/Aanya-goyal/portfolio/blob/main/Digital%20Background_%20Premium%20Paper%20Texture%20by%20Mook%20with%20Cream%20Backdrop.jpg);
}

.home h1 {
    font-size: 5rem;
    columns: pink;
}

.home p {
    font-size: 2.5rem;
    margin: 10px 0 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover {
    background-color: #716b6b;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    color:#14532d;
    line-height: 1.6;
}
.container{
    display:grid;
    grid-template-columns: 350px 1fr;
    max-width: 1100px;
    gap: 50px;
    padding: 50px;
    margin: auto;
}
.leftbar{

    background-color:#1F1F1F;
    color:#F9FAFB;
    padding: 20px;
    height: 90vh;
     border-radius: 10px;
}
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}
.profile h1{
    font-size: 24px;
}
.profile p{
    font-size: 16px;
    color: #D1D5DB;
}
.contact{
    margin-top: 20px;
    margin-bottom:20px;
    color: white;
    text-decoration: none;
}
.contact a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: larger;

}
.socials a{
    margin-right: 10px;
    text-decoration: none;
    color: #906666;
}
.rightbar{
background-color: #1F1F1F;
    color:#F9FAFB;
    padding: 20px;
        border-radius: 10px;
        border-color: #D4AF37;
}
.navigation nav{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.navigation a {
    text-decoration: none;
    color: hsl(0, 24%, 93%);
    font-weight: bold;
}

.navigation a:hover {
    color: #f1c40f;
}
.about, .projects, .skills, .education, .contact {
    margin-bottom: 40px;
}
@media (max-width: 500px) {
    .profile img {
        width: 100px;
        height: 100px;
    }

    .profile h1 {
        font-size: 18px;
    }

    .rightbar {
        padding: 15px;
    }

    .navigation nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .skill-icons {
        justify-content: center;
    }

    section h2 {
        font-size: 18px;
    }
}

